@model Cource
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="CourceID" />
    <div class="form-group">
        <label asp-for="PersianName"></label>
        <div><span asp-validation-for="PersianName" class="text-danger"></span></div>
        <input asp-for="PersianName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EnglishName"></label>
        <div><span asp-validation-for="EnglishName" class="text-danger"></span></div>
        <input asp-for="EnglishName" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">ذخیره</button>
        <a asp-action="Index" class="btn btn-default">انصراف</a>
    </div>
</form>
